/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.check-icon{
    color: #5243C2;
    background-color: rgba(128, 128, 128, 0.171);
}
.info{
    font-size: 15px;
    color: #848199;
    line-height: 22px;
}
.plan-btn{
    background-color:  #f496d21f;
    border-radius: 24px;
    color: #3F87F5;
    font-size: 15px;
}
.hot-column{
    background-color:  #3F87F5;
    border-radius: 26px;
}
.hot-column .check-icon{
    color: #fff;
}
.hot-column .info{
    color: #fff;
}
.hot-column .plan-btn{
    background-color: #fff;
}
